POSTGRES_DB=meme_arena
POSTGRES_USER=meme_arena
POSTGRES_PASSWORD=meme_arena_local
POSTGRES_PORT=5433
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio_password
MINIO_BUCKET=meme-images
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
